// features page css

.features-header {
  height: auto;
  background-color: #fff !important;
  background-image: none !important;

  nav {
    .active {
      color: #5f67ff;
    }

    .fa {
      color: #333;
      border-radius: 50%;
      border: 1px solid #333;
      padding: 10px;

      &:hover {
        color: #5f67ff;
      }
    }

    input {
      position: absolute;
      bottom: -80%;
      right: 0%;
      border-radius: 0px;
      border: 0.5px solid rgba(51, 51, 51, 0.205);
      padding: 5px;
      display: none;

      &:focus {
        box-shadow: 0px;
        outline: none;
      }
    }

    .btn {
      color: white;

      &:hover {
        background: opacity(0.8);
      }
    }

    // .searchbutton:focus {
    //   box-shadow: none;
    // }
  }

  a {
    color: #333;
  }
}

.features-body {
  .banner {
    padding: 50px 0px;
    color: white;
    background: url(../img/features-hero-bg.png);
    text-align: left;

    .banner-text {
      width: 60%;
    }
  }

  .features-section {
    ul {
      padding: 15px;

      li {
        margin-bottom: 10px;
        color: #666666;
      }
    }
  }

  .cta-section {
    padding: 50px 0px;
    background: url(../img/features-footer-before-bg.png) center top no-repeat;
    background-size: cover;
    color: white;

    .inner {
      padding: 0px 150px;
      text-align: center;

      .btn {
        margin-top: 20px;
        padding: 15px 40px;
        border: none;
        background: white;
        color: #5f67ff;
        font-weight: 600;
        font-size: 16px;

        &:hover {
          background-color: #5f67ff;
          color: white;
          transition: 0.4s ease;
        }
      }
    }
  }
}
